### 자료형
- 컬렉션 데이터 타입
    - list[] : 순서가 있는수정이 가능한 데이터 타입
    - tuple (): 순서가 있는 수정이 불가능한 데이터 타입
    - dict{}: 순서가 없고 키: 값으로 구성되어있는 데이터 타입

#### 리스트
- 순서가 있는 데이터의 집합
- 순서가 있기때문에 offset index사용 가능

In [1]:
ls=[1, "python", False]
print(type(ls),ls)

<class 'list'> [1, 'python', False]

In [6]:
# 리스트 데이터를 문자열로 합쳐주는 함수 - join
a=["data", "science", "python"]
result="-".join(a)
#"구분자".join() 구분자가 사이사이 들어감
print(result, type(result))

data-science-python <class 'str'>

### quiz 1
- 리스트 데이터를 문자열로 합쳐서 문장으로 만들어 주세요.
- 가장 앞글자는 대문자, 마지막에는 마침표를 찍어주세요
```
ls=["python", "is","best", "programing","language"]
```

In [12]:
ls=["python", "is","best", "programing","language"]
result=" ".join(ls)
result=result[0].upper()+result[1:]+"."
print(result)
#result => "python is best programing language"

Python is best programing language.

#### 리스트의 오프셋
- 문자열을 하나의 문자를 오프셋 단위로 인식
- 리스트는 하나의 값을 오프셋 단위로 인식

In [14]:
a=["python","data",1,True,"fast"]
print(a[1])

data

In [16]:
print(a[2:])

[1, True, 'fast']

In [17]:
print(a[::-1])

['fast', True, 1, 'data', 'python']

In [19]:
print(a[-2:])
print(a[-2:][0])

[True, 'fast']
True

### quiz 2
- 홀수 데이터를 거꾸로 출력
- 오프셋을 사용
```
ls=[0,1,2,3,4,5,6,7,8,9]
```
- 결과
```
result=>[9,7,5,3,1]
```

In [20]:
ls=[0,1,2,3,4,5,6,7,8,9]
result=ls[::-1][::2]
print(result)

[9, 7, 5, 3, 1]

In [23]:
# 리스트 데이터를 문자열 데이터로 바꿔주는 함수 : join
# 문자열 데이터를 리스트 데이터로 바꿔주는 함수 : split
txt = "python data science"
ls=["python","data","science"]
result=txt.split(" ")
print(result)

['python', 'data', 'science']

## 리스트 함수
- append : 가장 뒤에 값을 추가,데이터 추가
- sort : 오름차순으로 데이터 정렬
- reverse : 데이터를 역순으로 정렬

In [25]:
# append 함수
ls =["data","science"]
ls.append("fastcampus")
print(ls)

['data', 'science', 'fastcampus']

In [12]:
# sort 함수
ls = ["fast","data","campus","science"]
ls.sort()
print(ls)
# 내림차순
ls=[1,5,2,4]
ls.sort()
ls[::-1]

['campus', 'data', 'fast', 'science']

[5, 4, 2, 1]

In [13]:
# pop: 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
num=ls.pop()
num,ls

(5, [1, 2, 4])

In [14]:
# pop 한번더 했을때
num=ls.pop()
num,ls

(4, [1, 2])

In [21]:
# 리스트의 복사
ls1=[1,2,3]
ls2=ls1 # 얕은 복사 : 주소값 복사
ls1,ls2

([1, 2, 3], [1, 2, 3])

In [27]:
ls1[2]=5

In [22]:
ls1,ls2
# ls1만 수정했는데 ls1, ls2 모두 같은값이 나옴 데이터가 아닌 주소값을 복사해 오기 때문

([1, 2, 3], [1, 2, 3])

In [30]:
ls3=ls1.copy() #깊은 복사
ls1[2]=3

In [31]:
ls1,ls3
# ls3은 새로운 저장공간에 복사가 된 것이기 때문에 값이 바뀌지 않음

([1, 2, 3], [1, 2, 3])

In [28]:
# reverse 함수
ls.reverse()
print(ls)

['science', 'fast', 'data', 'campus']

In [29]:
print(ls)

['science', 'fast', 'data', 'campus']

In [30]:
ls[1]="slow"
print(ls)

['science', 'slow', 'data', 'campus']

In [31]:
data=["abc","bc","d","efgh"]
data.sort(key=len)
print(data)

['d', 'bc', 'abc', 'efgh']

### quiz 3
- "Beautiful is better than ugly."단어의 길이가 긴 순서대로 재정렬 해서 문장만들기
- <list변수>.sort(key=len) 길이순으로 sort하는 방법
- 결과
```
Beautiful better ugly than is.
```

In [32]:
data=["abc","bc","d","efgh"]
data.sort(key=len)
print(data)

['d', 'bc', 'abc', 'efgh']

In [38]:
data="Beautiful is better than ugly."
# 소문자로 변환하고 마침표 제거
result=data.lower()[:-1]
# 리스트로 변환
result=result.split(" ")
# 단어의 개수로 오름차순으로 정렬
result.sort(key=len)
# 내림차순으로 변경
result.reverse()
# 리스트를 문자열로 
result=" ".join(result)
# 앞글자를 대문자로 변경하고 마침표 추가
result=result[0].upper()+result[1:]+"."
print(result)

Beautiful better ugly than is.

### 튜플
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 리스트보다 같은 데이터 가졌을때 저장공간 적게 사용

In [34]:
# 튜플 선언
# tp=1,2,3 이렇게도 가능 하지만 괄호사용이 보통적
tp=(1,2,3)
print(type(tp),tp)

<class 'tuple'> (1, 2, 3)

In [35]:
tp[1]=10 
# 수정이 불가능해 에러메세지가 뜸

TypeError: 'tuple' object does not support item assignment

In [36]:
# 튜플에서의 오프셋 인덱스 사용
tp[0::2]

(1, 3)

In [37]:
import sys
ls=[1,2,3,4,5]
tp=(1,2,3,4,5)
print(sys.getsizeof(ls),"byte")
print(sys.getsizeof(tp),"byte")

104 byte
88 byte

### 딕셔너리 {키:값}
- 순서가 없는 데이터 집합
- 키: 데이터 값으로 구성 되어있는 데이터 타입

In [38]:
# 선언 키는 정수, 문자열 데이터 타입만 사용잉가능
# 인덱스 대신 키를 사용
dic={
    1:"one",
    "A":["data","science"],
    "숫자": 1234,
}

print(type(dic),dic)

<class 'dict'> {1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [40]:
# 데이터에 접근
dic["A"],dic[1]

(['data', 'science'], 'one')

In [41]:
# 데이터 수정
dic[1] = "하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

In [43]:
# 아래의 데이터를 list와 dict로 선언
# 도시: seoul, busan, daegu
# 인구: 9,700,000 3,400,000 2,400,000

In [45]:
# 리스트
city=["seoul","busan","daegu"]
pop=[9700000,3400000,2400000]

In [46]:
# 딕셔너리
data={
    "seoul":9700000,
    "busan":3400000,
    "daegu":2400000
}

In [47]:
sum(pop)

15500000


### Quiz 1
- 아래의 테이블 데이터를 딕셔너리 데이터 타입으로 선언하세요.
```
| key | value|
|-----|-----|
|name |python|
|addr |seoul |
|age  |25    |
```

In [54]:
dic={
    "name":"python",
    "addr":"seoul",
    "age":25,
}
print(dic)

{'name': 'python', 'addr': 'seoul', 'age': 25}

In [55]:
# 딕셔너리에서 키값으로 사용할수 있는 데이터 타입은 문자열과 정수 만 가능

In [56]:
# 딕셔너리에서는 오프셋 인덱스 사용불가
dic={"data1":1,"data2":2,"data3":3}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [58]:
dic[1]
# 딕셔너리 오프셋 불가라 에러

KeyError: 1

#### 딕셔너리 함수
- keys() : 키 데이터만 가져오는 함수
- values() : 값데이터만 가져오는
- items() : 키와 값을 가져오는
- update() : 두개의 딕셔너리를 합쳐주는

In [60]:
dic={
    "data1":1,
    "data2":2,
    "data3":3,
}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [61]:
# keys
result=dic.keys()
print(type(result),result)

<class 'dict_keys'> dict_keys(['data1', 'data2', 'data3'])

In [62]:
# values
result=dic.values()
result

dict_values([1, 2, 3])

In [63]:
# items
result=dic.items()
result

dict_items([('data1', 1), ('data2', 2), ('data3', 3)])

In [64]:
# update
dic1={1:"a",2:"b"}
dic2={2:"c",3:"d"}
# dic3=(1:"a",2:"c",3:"d")
dic1.update(dic2)
dic3=dic1
print(dic3)

{1: 'a', 2: 'c', 3: 'd'}

### quiz 2
- "국어 점수 80 영어 90 수학 70"이 데이터를 리스트, 튜플,딕셔너리 타입으로 나타내기

In [67]:
# 리스트
subjects=["국어","영어","수학"]
points=[80,90,70]
# 리스트2
data=[("국어",80),("영어",90),("수학",70)]
# 튜플
tp=(("국어",80),("영어",90),("수학",70))
# 딕셔너리
dic={
    "국어":80,
    "영어":90,
    "수학":70,
}
print(subjects,points,data,tp,dic)

['국어', '영어', '수학'] [80, 90, 70] [('국어', 80), ('영어', 90), ('수학', 70)] (('국어', 80), ('영어', 90), ('수학', 70)) {'국어': 80, '영어': 90, '수학': 70}