### 연산자 : Operators
- 산술연산자
- 비교연산자
- 할당연산자
- 논리연산자
- 멤버연산자(특정데이터 유무 확인)

### 1. 산술연산자
- +, -, *, /, // 몫, % 나머지, ** 제곱

#### 연산자 우선순위 : ** > * , / ,// , % > + > -

In [1]:
print(2+4)

6

In [2]:
a,b=2,4
print(a+b)

6

In [3]:
print(2-4)
print(2*4)
print(10/3)
print(10//3)
print(10%3)
print(3**4)

-2
8
3.3333333333333335
3
1
81

### 부동소수점 문제
- 10진수를 2진수로 변환해서 계산할때 발생되는 문제

In [4]:
0.1+0.2

0.30000000000000004

In [6]:
a,b=0.1,0.2
(a+b)==0.3

False

In [8]:
# 부동소수점 해결방안1: 정수를 변환해준후에 실수로 바꿔줌
a=a*10
b=b*10

(a+b)/10

2.0

In [10]:
# 반올림
a,b=0.1,0.2
round(a+b,1)

0.3

In [11]:
# 고정소수점으로 표현
from decimal import Decimal
float(Decimal(str(a))+Decimal(str(b)))

0.3

### Quiz1
- 아래 데이터의 총점과 평균
```
data = {"korean";96.3,"english":78.4,"science":87.2,"math":92.4}
```

- sum , len 함수를 이용
- 정수로 변경, 반올림, 고정소수점

In [32]:
data = {"korean":96.3,"english":78.4,"science":87.2,"math":92.4}
data

{'korean': 96.3, 'english': 78.4, 'science': 87.2, 'math': 92.4}

In [16]:
# 데이터 개수
len(data)

4

In [19]:
# 부동소수점 해결하지 않은 상태
data.values()
sum(data.values())

354.29999999999995

In [35]:
# 정수로 변경
total = 0
total = data["korean"]*10
total = total + data["english"]*10
total = total + data["science"]*10
total = total + data["math"]*10
total= total/10
total, total/len(data)

(354.3, 88.575)

In [37]:
# 반올림
total = round(sum(data.values()),1)
total,total/len(data)

(354.3, 88.575)

In [39]:
# 고정소수점
from decimal import Decimal
tot = 0
tot = Decimal(str(data["korean"]))
tot=tot+Decimal(str(data["english"]))
tot=tot+Decimal(str(data["science"]))
tot=tot+Decimal(str(data["math"]))
float(tot),float(tot)/len(data)

(354.3, 88.575)

### 2. 비교연산자
- ==, !=, >, <, >=, <=

In [41]:
a,b=10,20

In [43]:
print(a==b)

False

In [45]:
print(a!=b)
print(a>b)
print(a<=b)

True
False
True

#### Quiz 2
- 산술연산과 비교연산을 사용하여 data가 홀수일때는 T 짝수 F를 출력

In [47]:
data=int(input("입력: "))
print(data%2 == 1)

입력: 3
True

#### 3. 할당 연산자
- 대입연산자와 산술연산자를 사용하여 만들어진 연산자
- +=, -=, =, /=, *=, %=, //=

In [48]:
data=5
print(data)

5

In [49]:
data=data+10
print(data)

15

In [50]:
data=5
data+=10
print(data)

15

#### Quiz 3
- 할당연산자를 이용해서 리스트 안에 있는 숫자의 평균을 구하시오
```
ls=[87,76,98,69]
```
- 결과
```
result => 82.5
```

In [53]:
ls=[87,76,98,69]
result=0
len(ls)
result+=ls[0]
result+=ls[1]
result+=ls[2]
result+=ls[3]
result/=len(ls)
print(result)

82.5

#### 4. 논리연산자
- 논리의 참과 거짓을 나타내는 연산자
- and : 두개 모두 T 인경우 T
- or : 두개 모두 F인경우 F
- not : True는 F로 F는 T로 변환

In [54]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [55]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [56]:
print(not True)
print(not(True or False))

False
False

In [57]:
a,b=1,2
(a<b)and(a==b)

False

#### Quiz 4
- 산술연산자, 비교연산자, 논리연산자를 사용해서 변수 a가 3또는 5의 배수일떄 T출력
```
a=9 # True
a=7 # False
a=10 # True
a=15 # True
```

In [60]:
data=9
(data%3==0) or (data%5==0)

True

#### Quiz 5
- 변수 a, b 가 있는데 둘다 10이하인 경우True 출력
```
a,b=9,8 # True
a,b=7,15 # False
a,b=11,12 # False
```

In [63]:
a,b=11,12
(a<=10) and (b<=10)

False

### 5. 멤버 연산자
- <특정데이터>in<데이터 집합> : 데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 True
- not in : 데이터 집합에서 특정데이터가 있는지 있는지 확인해서 있으면 F, 없으면 T

In [64]:
data=[1,2,3,4]
2 not in data, 5 not in data

(False, True)

In [66]:
data={1:"one",2:"two",3:"three"}
3 in data, "2" in data, "one" in data
# 딕셔너리에서 키값 확인

(True, False, False)

In [67]:
"two" in data.values()

True

In [1]:
ls=["jin","andy","jhon"]

In [2]:
"andy" in ls, "anchel"in ls,"jhon" not in ls

(True, False, False)

In [4]:
True or False and "andy"in ls 
# 멤버가 논리보다 우선순위,,

True