### 반복문: loop
- while
- break
- continue
- for
- list, comprehention

### 1. while
- condition이 False가 될때까지 code를 반복적으로 실행
```
while <condition>:
    <code>
```
- while 무한루프에 빠질 위험이 있으므로 주의해서 사용을 해야함

In [2]:
a=3
while a:
    print(a)
    a-=1
a

3
2
1

0

In [ ]:
# 무한루프 : Kernel -> Inrerrupt
while True:
        a=1

In [ ]:
# 학생이 국어:80 영어:90 수학:100 while문을 이용해서 총점과 평균을 출력
# 학생의 점수는 list dict표현

In [1]:
subject=["국어","영어","수학"]
score=[80,90,100]

subject,score

(['국어', '영어', '수학'], [80, 90, 100])

In [5]:
student=dict(zip(subject,score))
student

{'국어': 80, '영어': 90, '수학': 100}

In [7]:
total,avg=0,0
datas=score.copy() #깊은복사로 원본 보존

In [11]:
# pop으로 데이터를 꺼내서 tot에 하나씩 더해줌
# 세개의 점수를 다 꺼내서 datas가 비어있으면 while이 멈추게 됨
while datas:
    total+=datas.pop()
avg=total/len(score)
total,avg

(270, 90.0)

#### Quiz 1
- ls 리스트 값을 while문을 이용해서 다 더하는 코드 작성
```
ls = [1,2,3,4,5,6,7,8,9,10]
```

In [5]:
ls = [1,2,3,4,5,6,7,8,9,10]
len(ls)

10

In [12]:
result=0
index=len(ls)
while index:
    result+=ls[len(ls)-index]
    index-=1
result

55

In [11]:
result=0
index=len(ls)
while index:
    index-=1
    result += ls[index]
result

55

#### 2. break
- 반복문이 실행되던 중간에 break만나게 되면 반복문이 종료됩니다.

In [15]:
a=3
while a:
    print(a)
    if a==2:
        break
    a-=1
a # a=2에서 break를 만나 a-=1이 실행 안되고 빠져 나욤

3
2

2

### 3. continue
- 반복문이 실행되더 중간에 continue를 만나게 되면 반복문의 조건을 비교하는 부분으로 올라가서 코드가 실행

In [17]:
a=[1,2,3,4,"q"]
idx=0

while True:
    data=a[idx]
    idx += 1
    
    if data =="q":
        break
    elif data%2==0:
        continue #짝수인경우는 출력되지않고 바로 while조건문으로 올라감
        
    print(data)

1
3

### Quiz 2
- q를 입력할때 까지 계속 값을 입력 받아서q를 입력할때 입력받은 값을 출력하는 코드를 작성하세요.
- 데이터를 입력받을때 몇번째 입력인지도 출력
- append로 입력받은값 리스트로

```
1번째 입력 (종료 :q) : data
1번째 입력 (종료 :q) : python
1번째 입력 (종료 :q) : science
1번째 입력 (종료 :q) : q

["data","python","science"]  
```

In [13]:
ls,idx=[],1

while True:
    value=input("{}번째 입력 (종료 :q) : ".format(idx))
    if value=="q":
        break
    ls.append(value)
    idx+=1
ls

1번째 입력 (종료 :q) : q

[]

#### 4. for
- 순서가 있는 데이터의 집합(interable : 리스트,튜플)에서 값을 하나씩 꺼내서 변수에 대입시킨후 for 구문안에 있는 코드를 실행시키는 반복문
```
for <변수> in <순서가 있는 데이터 집합>:
    <code>
```
- range
- enumerate
- zip

In [25]:
ls=[0,1,2,3,4]
for value in ls:
    print(value, end=" ")

0 1 2 3 4

In [27]:
# dictionary를 사용한 for반복문
dic ={"A":1,"B":2}
for key in dic:
    print(key)

A
B

In [28]:
dic.items()

dict_items([('A', 1), ('B', 2)])

In [30]:
for key,value in dic.items():#('A', 1)가 첫번째로 들어감
    print(key,value)

A 1
B 2

In [16]:
# for : continue :조건 부문으로 올라가서 코드가 실행
ls=[0,1,2,3,4]
for data in ls:
    
    if data % 2: # 홀수면 continue실행
        continue # 아래 실행 안하고 조건 for부분으로 올라감
        
    # 짝수이면 pritn 실행    
    print(data,end=" ")

0 2 4

In [18]:
# for를 이용하여 코드를 100번 실행
# range 함수 (list 타입은 아님 그러나 in 뒤에 써도 for문이 알아들음)
list(range(100))
result = 0
for data in range(100):
    result += data
result

4950

### Quiz 3
- for 문을 이용하여 아래 리스트에 있는 숫자를 모두 더하는 코드를 작성하세요.
- for 문과 할당 연산자
```
numbers=[1,3,5,8,10,14]
result =>41
```

In [31]:
numbers=[1,3,5,8,10,14]
result=0
for num in numbers:
    result+=num
result

41

#### 4.1 range
- list를 간편하게 생성해주는 함수입니다.
- 함수: 코드의 집합을 실행시켜주는 방법
```
range(end)
range(start, end) start부터 end전까지의 데이터를 생성
range(start end, stride)
```

In [20]:
# offset index개념과 비슷하게 사용
list(range(5)), list(range(5,10)),list(range(0,10,2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [22]:
# 0~10까지 짝수를 더한 총함
result=0
for number in range(0,11,2):
    result +=number
result

30

ls=[1,2,3]
ls

In [33]:
for _ in ls: #변수를 쓸일 없으면 그냥 반복의 용도로 _만 넣어도 됨
    print("data science")

data science
data science
data science

In [34]:
for _ in range(4): #변수를 쓸일 없으면 그냥 반복의 용도로 _만 넣어도 됨
    print("data science")

data science
data science
data science
data science

In [35]:
list(range(1,5))

[1, 2, 3, 4]

In [36]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [37]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Quiz 4
- 5를 입력했을때 아래와 같이 별이 출력되는 코드를 작성하세요.

```
*
**
***
****
*****
```

In [43]:
for a in range(1,6):
    print("*"*a)

*
**
***
****
*****

In [44]:
number=5
for num in range(1, number+1):
    print("*"*num)

*
**
***
****
*****

#### Quiz 5
- 5를 입력했을때 아래와 같이 별이 출력되는 코드를 작성하세요.

```
    *
   **
  ***
 ****
*****
```

In [48]:
number=5
for num in range(1,number+1):
    print(" "*(number-num)+"*"*num)

    *
   **
  ***
 ****
*****

#### Quiz 6
- 홀수만 입력이 가능
- 5를 입력하면 아래와 같이 별이 출력되도록 코드를 작성

```
  *  
 *** 
*****
```

In [53]:
number=5
blank=number//2
for num in range(1,number+1,2):
        print(" "*blank + "*"*num)
        blank-=1

  *
 ***
*****

### Quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드를 작성
```
input number : 4
4단
4*1=4
4*2=8
...
4*9=36
```

In [24]:
number=int(input("input number : "))
print("{}단".format(number))

for num in range(1,10):
    print("{}*{}={}".format(number,num,number*num))

input number : 2
2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

#### 구구단 출력 (가로)
    - 이중 for문 안에 for ans
    - print: end="\t"
    - string: format
```
2*1=2 3*1=3 ... 9*1=9
...
2*9=18
```

In [32]:
for b in range(1,10):
    for a in range(2,10):
        print("{}*{}={}".format(a,b,a*b),end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### Quiz 8
- 아래의 2개의 리스트 데이터를
```
subject = ["korean","english","math","science"]
point = [100,80,90,60]
```
- for문을 이용하여 딕셔너리 데이터로 변경하는 코드를 작성하세요.
```
result => {"korean":100,"english":80,"math":90,"science":60}
```

In [65]:
subject = ["korean","english","math","science"]
point = [100,80,90,60]
result={}

for idx in range(len(subject)):
    result[subject[idx]]=point[idx]
result

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [69]:
# 입력하는 길이가 다를때 -> 작은 걸 for문횟수에 사용
subject = ["korean","english","math","science"]
point = [100,80,90]
result={}
count = len(point)if len(subject)>len(point) else len(subject)

for idx in range(count):
    result[subject[idx]]=point[idx]
result

{'korean': 100, 'english': 80, 'math': 90}

#### 4.2 enumerate
- 리스트 데이터의 index와 value값을 동시에 사용할 수 있게 해주는 함수입니다.

In [72]:
# 과목명과 과목 번호를 같이 출력
subjects = ["korean","english","math","science"]
number =1
for subject in subjects:
    print(number,subject)
    number +=1

1 korean
2 english
3 math
4 science

In [74]:
list(enumerate(subjects))

[(0, 'korean'), (1, 'english'), (2, 'math'), (3, 'science')]

In [77]:
for idx, subject in enumerate(subjects):
    print(idx+1,subject)

1 korean
2 english
3 math
4 science

#### 4.3 zip
- n개의 리스트를 같은 index끼리 묶어주는 함수

In [79]:
subjects = ["korean","english","math","science"]
points = [100,80,90,60]
list(zip(subjects,point))

[('korean', 100), ('english', 80), ('math', 90), ('science', 60)]

In [80]:
result={}
for subject, point in zip(subjects,points):
    result[subject]=point
result

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [81]:
# 튜플을 딕셔너리로 형변환
dict(zip(subjects, points))

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

#### * 랜덤 함수

In [82]:
import random

In [83]:
# 1~10 랜덤하게 정수 데이터를 뽑고 싶으면
random.randint(1,10)

3

In [85]:
# 설정한 데이터에서 하나의 데이터를 랜덤하게 뽑기
random.choice([1,5,9])

1

#### Quiz 9
- 로또번호를 출력하는 코드를 작성하세요.
- 1~45까지의 숫자중에 6개의 숫자를 뽑으면 됨
- 중복이 되지 않도록 6개의 숫자를 뽑으시면 됩니다.
- while , break, if,in, list, append 사용
```
result => [3,8,15,19,25,31]
```

In [1]:
import random
result=[]
while 1:
    num=random.randint(1,45)
    # result 안에 number가 없을때 number를 result에 추가
    if num not in result:
        result.append(num)
    
    if len(result)==6:
        result.sort()
        break

result

[6, 9, 26, 27, 32, 37]

In [3]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [8]:
solution=[
    "무엇을 하던 잘 안될것이다.",
    "생각지도 않게 좋은 일이 생길것이다.",
    "무엇을 상상하던 그 이상이다.",
]

# 질문 입력 받음
input("질문을 입력하세요.: ")

# 솔루션의 갯수에 맞게 랜덤한 index 정수값을 생성
idx = random.randint(0,len(solution)-1)

# index 해당하는 솔루션 리스트의 데이터를 출력
solution[idx]

질문을 입력하세요.: 지옥철을 탈까요

'무엇을 상상하던 그 이상이다.'

In [33]:
len(solution)

NameError: name 'solution' is not defined

###  List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작합니다.

In [38]:
# 각각 값에 제곱한 결과 출력
ls=[0,1,2,3]
result=[]
for data in ls:
    result.append(data**2)
result

[0, 1, 4, 9]

In [39]:
# ls에서 데이터를 하나 가져와서 data**2작업을 함 -> ls의 데이터 개수만큼 작동 위와 같음
# 위보다 더 빠름
result=[ data**2 for data in ls ]
result

[0, 1, 4, 9]

In [42]:
# 리스트 컴프리핸션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항 연산 사용
ls=[0,1,2,3]
# result=["짝","홀","짝","홀"]
result=[
    "홀수" if data % 2 else "짝수"
    for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [48]:
# 리스트 컴프리핸션 조건문
ls = range(10)
[data for data in ls if data % 2]
# 조건문이 false 이면 데이터가 왼쪽으로 안넘어감 -> 필터의 기능

[1, 3, 5, 7, 9]

In [52]:
ls=[1,2,3]
[ data for data in dir(ls) if data[:2]!="__" and data[0]=="c" ]
# data 에는 dir(ls)값이 하나씩 들갔을때 data가 __로 시작하지않고 첫글자가 c인 경우를 출력

['clear', 'copy', 'count']

In [54]:
# for 문과 list comprehention 성능 비교

In [73]:
%%timeit
ls = []
for num in range(1,10001):
    if num % 3 ==0:
        ls.append(num)
len(ls)

1.76 ms ± 108 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [71]:
%%timeit
ls = [num for num in range(1,10001) if num % 3 ==0]
len(ls)

1.67 ms ± 294 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)